.canvas-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas{
   
   background-color: rgb(208, 223, 211); 
   min-width: 320px;

}


#preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading-spinner {
    border: 8px solid #968d8d;
    border-top: 8px solid #34db6c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}


#menu{
    
    display: flex;
    justify-content: center;
    align-items: end;
    position: absolute;
    min-width: 320px;
    
    
}

#letrero{

    width: 100%;
    height: 100%;
    min-width: 320px;
    background: url("./game-assets/menu-3d.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor:  pointer;   
}

#letrero p{
   
    color: white;
    font-family: Poppins, sans-serif;
    text-align: center;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    min-width: 320px;
}

.letreroToUp{
    animation: letreroPop;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.letreroToBottom{
    animation: letreroPush;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#player-record{
    position: absolute;
    text-align: center;
    padding: 0px 2px;
    margin: 0 0 5px;
    bottom: 60px;
    
    width: 100px;
    height: 15px;
   /*  background-color: #34db6c; */
    border-radius: 20px;
    border-bottom: 2px solid white;
    color: rgb(201, 196, 196);
}


/* CONTROLS TO SMARTPHONES */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#smartphone-controls{
    display: flex;
    justify-content: center;
    position: absolute;
    
    width: 100%;
    height: 100px;
   /*  background-color: #968d8d; */
    opacity: 0.5;
}
.control-btn{
    display: flex;
    
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgb(113, 116, 116);
    border-radius: 60px;
  
}
.control-btn span{
    display: inline-block;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#jump{
    
    bottom: -70px;
    width: 80px;
    height: 80px;
    margin: 5px 0 0;
   
}
#jump span{
    
    width: 50px;
    height: 50px;
    background-image: url("./game-assets/icons/jump-icon.png");
}

#run{
   
    right: 48px;
    bottom: -90px;
    width: 70px;
    height: 70px;
    margin: 5px 0 0;
   
}

#run span {
    width: 40px;
    height: 40px;
    background-image: url("./game-assets/icons/run-icon.png");
}

#sliding{
    width: 50px;
    height: 50px;
    bottom: -125px;
   
}

#sliding span{
    width: 40px;
    height: 40px;
    bottom: -125px;
    background-image: url("./game-assets/icons/sliding-icon.png");
}


#space{
  
    left: 48px;
    bottom: -90px;
    width: 70px;
    height: 70px;
    margin: 5px 0 0;
}

#space p{
    font-family: Poppins, sans-serif;
    color: rgb(223, 219, 219);
    font-size: 14px;
}


@media(min-width: 768px){
    #smartphone-controls{
        display: none;
    }
    .control-btn{
        display: none;
    }
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ANIMACIONES */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




@keyframes letreroPop {
    
    0% { transform: scale(1,1) rotate(0deg); }
    100% { transform: scale(0,0) rotate(360deg);}
}


@keyframes letreroPush {
    
    0% { transform: scale(0,0) rotate(360deg); }
    100% { transform: scale(1,1) rotate(0deg);}
}


@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  